@font-face {
    font-family: "Metric";
    src: url(../fonts/test-metric-regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: "Metric";
    src: url(../fonts/test-metric-semibold.woff2);
    font-style: normal;
    font-weight: 600;
}

html {
    --color-background: #B8B5B2;
    --color-primary: #44403C;
    --color-nav-not-current: #8d8a87;
    --curve: cubic-bezier(0.1, 0.9, 0.18, 0.98);
}

body {
    background-color: var(--color-background);
    font-family: "Metric";
    font-size: 17px;
    columns: var(--color-primary);
}

.section {
    display: flex;
    flex-direction: column;
}

.section-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-list {
    position: fixed;
    left: 35px;
    top: 33px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sections-list-entry .link {
    color: var(--color-nav-not-current);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.4px;
    transition: color 0.2s ease-in-out;
}

.sections-list-entry.current .link {
    color: #3F3B38;
}

.sub-sections-collapsable {
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.4s var(--curve);
}

.sections-list-entry:not(.current) .sub-sections-collapsable {
    grid-template-rows: 0fr;
}

.sub-sections {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-left: 10px;
}

.sub-sections .sub-link {
    color: var(--color-nav-not-current);
    transition: opacity 0.4s ease-out;
}

.sub-sections :nth-child(1) .sub-link {
    transition-delay: 0.2s;
}

.sub-sections :nth-child(2) .sub-link {
    transition-delay: 0.3s;
}

.sub-sections :nth-child(3) .sub-link {
    transition-delay: 0.4s;
}

/* Add more as needed. */

.sub-sections> :first-child {
    margin-top: 26px;
}

.sub-sections> :last-child {
    margin-bottom: 12px;
}

.sections-list-entry:not(.current) .sub-link {
    opacity: 0;
    transition-delay: 0s;
    transition-duration: 0.2s;
}

.nav-logo {
    position: fixed;
    right: 35px;
    top: 36px;
    width: 100px;
    transition: opacity 0.4s var(--curve) 0.5s, top 0.4s var(--curve) 0.5s;
}

.nav-logo.current {
    top: 32px;
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}