@font-face {
    font-family: "Metric";
    src: url(../fonts/test-metric-regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: "Metric";
    src: url(../fonts/test-metric-semibold.woff2);
    font-style: normal;
    font-weight: 600;
}

html {
    --color-background: #B8B5B2;
    --color-primary: #44403C;
}

body {
    background-color: var(--color-background);
    font-family: "Metric";
    font-size: 17px;
    columns: var(--color-primary);
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.section {
    display: flex;
    flex-direction: column;
}

.section-header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-list {
    position: fixed;
    left: 35px;
    top: 35px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sections-list-entry {
    color: #979491;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.4px;
}

.sections-list-entry.current {
    color: #3F3B38;
}