@font-face {
    font-family: "Metric";
    src: url(../fonts/test-metric-regular.woff2);
    font-style: normal;
}

@font-face {
    font-family: "Metric";
    src: url(../fonts/test-metric-semibold.woff2);
    font-style: normal;
    font-weight: 600;
}

html {
    --color-background: #F5F1EF;
    --color-primary: #5b544f;
    --curve: cubic-bezier(0.1, 0.9, 0.18, 0.98);
    --main-width: 960px;
    --horizontal-margin: 30px;
}

@media (max-width: 660px) {
    html {
        --horizontal-margin: 15px;
    }
}

body {
    background-color: var(--color-background);
    font-family: "Metric";
    font-size: 17px;
    color: var(--color-primary);
    line-height: 1.3;
}